body{
    margin: 0;
    padding: 0;
}

nav{
    height: 13vh;
    display: flex;
    background-color: aquamarine;

}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.container > a {
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 3px;
    border-width: 2px;
}

/*Hover es para cuando pasa el raton sobre el texto*/
.container > a:hover {
    color: blueviolet;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
}

.contenido{
    width: 100%; /*el viewport se ajusta al ancho de la pantalla*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
}

.noticias{
    background-color: azure;
    width: 75%;
}

.menulateral{
    width: 25%;
    background-color: teal;
}

.piedepagina{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: cornflowerblue;
    align-items: center;
}